{
  "id": "logstash",
  "cpus": 0.1,
  "mem": {{ dcos_cli_app_logstash_mem }},
  "instances": {{ dcos_cli_app_logstash_instances }},
  "constraints": [["hostname", "UNIQUE"], ["az", "GROUP_BY", "3"]],
  "env": {
    "SERVICE_5511_NAME": "logstash",
    "SERVICE_5511_TAGS": "elasticsearch,logstash,monitoring",
    "LS_HEAP_SIZE": "2048m"
  },
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "logstash:2.3.3",
      "network": "BRIDGE",
      "parameters": [
        { "key": "log-opt", "value": "max-size=64m" },
        { "key": "log-opt", "value": "max-file=8" }
      ],
      "portMappings": [
        { "containerPort": 5511, "hostPort": 0, "protocol": "tcp" }
      ]
    }
  },
  "args": [
    "logstash",
    "--config", "/mnt/mesos/sandbox/{{ dcos_cli_app_logstash_conf_file }}",
    "--pipeline-workers", "4"
  ],
  "uris": [
    "{{ dcos_cli_app_logstash_conf_url }}"
  ],
  "healthChecks": [
    {
      "protocol": "TCP",
      "portIndex": 0,
      "gracePeriodSeconds": 5,
      "intervalSeconds": 20,
      "maxConsecutiveFailures": 3
    }
  ]
}
